.messageBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages {
    height: calc(100vh - 127px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.messages::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}

.messages::-webkit-scrollbar-thumb:hover {
    background-color: white;
}


.myMessage {
    margin: 5px 5px 5px auto;
    padding: 0px 10px;
    background-color: rgb(0, 97, 224);
    color: white;
    display: flex;
    border-radius: 20px 20px 5px 20px;
}

.myMessage p{
    margin: 5px 5px 8px 5px;
}

.message {
    margin: 5px auto 5px 5px;
    padding: 0px 10px;
    background-color: #eaeaea;
    color: black;
    display: flex;
    border-radius: 20px 20px 20px 5px;

}

.message p {
    margin: 5px 5px 8px 5px;
}

.myMessage .messageDate {
    color: rgba(255, 255, 255, 0.75);
}

.messageDate {
    padding: 9px 0 0 5px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.52);
}

.messageInput {
    display: flex;
    flex: 0 0 auto;
}

.messageInput textarea {
    resize: none;
    padding: 20px;
    flex: auto;
    border: 0;
    background-color: #2b3031;
    color: white;
}

.messageInput textarea::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}

.messageInput textarea::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}

.messageInput textarea::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

.messageInput textarea:focus {
    border: 0;
    outline: 0;
}

.messageInput button{
    background: url('/src/assets/img/sendOff.png') #2b3031 no-repeat center;
    background-size: 20px 20px;
    border: 0;
    cursor: pointer;
    width: 71px;
    height: 71px;
    transition: background .2s;
}

.messageInput button:hover{
    background: url('/src/assets/img/sendOn.png') #2b3031 no-repeat center;
    background-size: 20px 20px;
}

